<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Credit Card Fraud Detection</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css" />
    </head>

    <body style="background-color:beige">
    <div class="ip">
    <h1 style="color:red">Credit Card Fraud Detection</h1>
   <form action = "/login" method= "post"
   <div class="var">
   <p class="V1">V1</p>
   <p><input type="text" name = "V1" /></p>
    <p class="V2">V2</p>
    <p><input type="text" name = "V2" /></p>
     <p class="V3">V3</p>
     <p><input type="text" name = "V3" /></p>
      <p class="V4">V4</p>
      <p><input type="text" name = "V4" /></p>
       <p class="V5">V5</p>
       <p><input type="text" name = "V5" /></p>
        <p class="V6">V6</p>
        <p><input type="text" name = "V6" /></p>
         <p class="V7">V7</p>
         <p><input type="text" name = "V7" /></p>
          <p class="V8">V8</p>
          <p><input type="text" name = "V8" /></p>
           <p class="V9">V9</p>
           <p><input type="text" name = "V9" /></p>
            <p class="V10">V10</p>
            <p><input type="text" name = "V10" /></p>
             <p class="V11">V11</p>
             <p><input type="text" name = "V11" /></p>
              <p class="V12">V12</p>
              <p><input type="text" name = "V12" /></p>
               <p class="V13">V13</p>
               <p><input type="text" name = "V13" /></p>
                <p class="V14">V14</p>
                <p><input type="text" name = "V14" /></p>
                 <p class="V1">V15</p>
                 <p><input type="text" name = "V15" /></p>
                  <p class="V16">V16</p>
                  <p><input type="text" name = "V16" /></p>
                   <p class="V17">V17</p>
                   <p><input type="text" name = "V17" /></p>
                    <p class="V18">V18</p>
                    <p><input type="text" name = "V18" /></p>
                     <p class="V19">V19</p>
                     <p><input type="text" name = "V19" /></p>
                      <p class="V20">V20</p>
                      <p><input type="text" name = "V20" /></p>
                       <p class="V21">V21</p>
                       <p><input type="text" name = "V21" /></p>
                        <p class="V22">V22</p>
                        <p><input type="text" name = "V22" /></p>
                         <p class="V23">V23</p>
                         <p><input type="text" name = "V23" /></p>
                          <p class="V24">V24</p>
                          <p><input type="text" name = "V24" /></p>
                           <p class="V25">V25</p>
                           <p><input type="text" name = "V25" /></p>
                            <p class="V26">V26</p>
                            <p><input type="text" name = "V26" /></p>
                             <p class="V27">V27</p>
                             <p><input type="text" name = "V27" /></p>
                              <p class="V28">V28</p>
                              <p><input type="text" name = "V28" /></p>
                                <p class="Time">Amount</p>
                                <p><input type="text" name = "Amount" /></p>
                              </div>
   
   
   
    <input  class="s" type="submit" value="Submit" style="color:white ;background-color: orange;
        color: white;
        height: 70px;
        width: 200px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        position: relative;
        left: 40%;
        border-radius: 5%"; >
 
    </form>
      <div class="prediction">
      <p>Predicted Output  is:</p>
      <p>{{y}}</p>
     </div>
  </div>
 
  


       
    </body>
</html>